<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form for submitting the new post</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div class="new">
        <form method="post" action="/posts">
            <input type="text" placeholder="username" name="username" class="inp"> <br> <br>
            <textarea placeholder="Enter the content" name="content" id="" cols="30" rows="10" class="txt"></textarea> <br><br>
            <button class="submit">Submit Post</button>
        </form>
    </div>
    
</body>
</html>